/* @import url('timtro.css'); */
@import url('about.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.search {
    position: relative;
    width: 300px;
}

/* input */
.bao_search input {
    width: 100%;
    padding: 14px 45px 14px 15px;
    /* chừa chỗ bên phải cho icon */
    border-radius: 8px;
    border: 1px solid #ddd;
    outline: none;
    font-size: 14px;
}

/* nút icon */
.btn_search {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 18px;
    color: #888;
}

/* hover đẹp hơn */
.btn_search:hover {
    color: #102a6d;
}

/* phần layout */
.layout {
    max-width: 1200px;
    margin: 50px auto;
    display: flex;
    gap: 90px;
    align-items: flex-start;
}

.left_section {
    margin-top: -200px;
    width: 300px;
    flex-shrink: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* phần danh mục của tin tức */

.category {
    margin-top: 25px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow:
        0 10px 40px rgba(0, 0, 0, 0.2),
        inset 0 0 15px rgba(255, 255, 255, 0.2);
    padding: 15px;
}

/* title */
.baodanhmuc h2 {
    padding: 10px 5px;
    font-size: 18px;
    margin-bottom: 10px;
    position: relative
}

.baodanhmuc h2::before {
    content: "";
    position: absolute;
    left: -10px;
    top: 160%;
    transform: translateY(-220%);
    width: 4px;
    height: 30px;
    background: #45abe6;
    border-radius: 2px;
}

.danhmuc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.danhmuc .left {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #333;
}

.danhmuc i {
    color: #45abe6;
    font-size: 16px;
}

.soluong {
    font-size: 13px;
    color: #888;
}

.danhmuc:hover {
    background: rgba(255, 255, 255, 0.2);
    transform: translateX(5px);
}

.danhmuc:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

/* phần danh mục bài viết mới nhất */

.baivietmoi {
    margin-top: 30px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow:
        0 10px 40px rgba(0, 0, 0, 0.2),
        inset 0 0 15px rgba(255, 255, 255, 0.2);
    padding: 15px;
}

.baivietmoi h2::before {
    content: "";
    position: absolute;
    left: -10px;
    top: 160%;
    transform: translateY(-220%);
    width: 4px;
    height: 30px;
    background: #45abe6;
    border-radius: 2px;
}

.baonewtintuc h2 {
    position: relative;
    padding: 10px 5px;
    font-size: 18px;
    margin-bottom: 10px;
}

.baoinfor_tintuc {
    width: 290px;
}

.infor_tintucnew{
    padding: 10px;
}

.infor_tintucnew a {
    text-decoration: none;
    color: #000;
    transition: 0.3s;
}

.infor_tintucnew a:hover {
    color: #45abe6;
}

/* phần thẻ tag */

.tags {
    margin-top: 30px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow:
        0 10px 40px rgba(0, 0, 0, 0.2),
        inset 0 0 15px rgba(255, 255, 255, 0.2);
    padding: 15px;
}

.bao_tag h2::before {
    content: "";
    position: absolute;
    left: -10px;
    top: 160%;
    transform: translateY(-220%);
    width: 4px;
    height: 30px;
    background: #45abe6;
    border-radius: 2px;
}

.bao_tag h2 {
    position: relative;
    padding: 10px 5px;
    font-size: 18px;
    margin-bottom: 10px;
}

.baotag_tintuc {
    display: flex;
    gap: 15px;
    width: 300px;
    flex-wrap: wrap;
}

.item_tag {
    border: 1px solid #45abe6;
    padding: 8px 12px;
    border-radius: 6px;
    white-space: nowrap;
    transition: 0.3s;
}

.item_tag a {
    font-size: 13px;
    color: #333;
    text-decoration: none;
    font-weight: 600;
}

.item_tag:hover {
    background: #45abe6;
}

/* phần chứa nội dung tin tức */
.right_section {
    flex: 1;
}

.tintuc {
    width: 810px;
}

.baotintuc {
    height: 450px;
    transform: translate(0%, -45%);
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow:
        0 8px 32px rgba(0, 0, 0, 0.25),
        inset 0 0 10px rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    position: relative;
}

.image_tintuc img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
}

.infor_tintuc {
    padding: 10px;
}

.title_tintuc {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: #000;
    transition: 0.3s;
}

.title_tintuc:hover {
    color: #45abe6;
}

.thongtin {
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

.thongtin i {
    color: #45abe6;
    font-size: 16px;
}

.thongtin span {
    text-decoration: none;
    font-size: 15px;
    color: #333;
}

.thongtin span a {
    text-decoration: none;
    font-size: 15px;
    color: #333;
    transition: 0.3s;

}

.thongtin span a:hover {
    color: #45abe6;
}

.bio {
    margin-top: 15px;
}

.bio_tintuc p {
    color: #000;
    width: 790px;
}

.btn_tintuc {
    position: absolute;
    transform: translate(0%, 20%);
    background: linear-gradient(90deg, #102a6d, #45abe6);
    padding: 10px 18px;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    transition: 0.3s;
}

.btn_tintuc:hover {
    background: linear-gradient(90deg, #0f2e7c, #5cb3e6);
    color: #fff;
}

.phantrang_joob {
    margin-top: -220px;
    align-items: center;
    flex: 1;
    height: 150px;
}

.baophantrangjoob {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.so_trang {
    background-color: #45abe6;
    padding: 10px 20px;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
}

.so_trang a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}